.game-info,
.game-mechanics,
.games-list,
header,
.form-title,
.sub-title {
  margin: 2rem 0rem 0rem 3rem;
}

h2.home {
  text-align: center;
}

table {
  width: 100%
}

table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
}

.form-element {
  width: 60%;
  margin: 0 auto;
}

.login-form,
.register-form {
  margin: 4rem 0rem;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  width: 30%;
  margin: 0rem 1rem;
}

.create-game {
  display: block;
  width: 80%;
  margin: 0 auto;
  /* position: relative; */
  /* top: 3rem; */
}

button {
  padding: .5rem 1rem;
  border: 1.9px solid black;
  cursor: pointer;
}

.create-game a {
  text-decoration: none;
}

.game-section h3 {
  text-align: center;
}

p {
  margin: 0.2rem;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  width: 98%;
}

input {
  border: 1.9px solid black;
  padding: 0.5rem;
  display: block;
  margin: 0 auto;
  width: 90%;
}